/* docs */
.code { background-color:#e4eeee; border:1px solid black; margin:1em; padding:0.5em; font-family:courier; }
.section { border-bottom: 1px dotted black; padding:1em;font-family:helvetica;background-color:white;color:#333;}
/* both */
body { background-color:white; }
.menu { position:fixed; right:4em; }
a {text-decoration:none;color:#05f;font-weight:bold;font-family:helvetica;}
a:hover {text-decoration:underline;}
.window { cursor:pointer; }
/* demo */
#explanation { border:0.5em solid white; position:absolute;right:3.5em;top:4em;width:22em;font-size:90%;background-color:#ccc;padding:0.5em;z-index:1000;opacity:0.8;filter:alpha(opacity=80); }

/*body { 
	min-height:90em;
	background: -moz-linear-gradient(center top, #b8d8f2, #92bde0 25%, #3282c2 50%, #92bde0 75%, #b8d8f2);
	background: -webkit-gradient(linear, center top, center bottom, from(#b8d8f2), color-stop(25%, #92bde0), color-stop(50%, #3282c2), color-stop(75%, #92bde0), to(#b8d8f2)); 
}*/
/*._jsPlumb_connector {
border:1px solid blue;
}
._jsPlumb_endpoint {
border:1px solid green;
}*/
