<div id="headerWrapper">
    <div id="header">
        <div class="logo"><img src="http://jsplumbtoolkit.com/logo-bw.png"></div>
        <div class="menu">   
            <a href="{{page.base}}/demo">DEMOS</a>
            <a href="{{page.base}}/doc/home.html">DOCS</a>                    
            <a href="{{page.base}}/apidocs">API</a>
            <a href="{{page.base}}/tests/index.html">TESTS</a>
            <a href="mailto:hello@jsplumbtoolkit.com">CONTACT</a>
            <a href="http://blog.jsplumbtoolkit.com">BLOG</a>
            <a href="http://github.com/sporritt/jsplumb/">GITHUB</a>
            <a href="https://groups.google.com/forum/?fromgroups#!forum/jsplumb">DISCUSS</a>
            <a href="https://github.com/sporritt/jsPlumb/issues">ISSUES</a>
        </div>
    </div>
</div> 