<script type="text/javascript">
var sc_project=9570491; 
var sc_invisible=1; 
var sc_security="fb2e9223"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web counter"
href="http://statcounter.com/free-hit-counter/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/9570491/0/fb2e9223/1/"
alt="web counter"></a></div></noscript>

