<script type="text/javascript">
        var sc_project=9494764; 
        var sc_invisible=1; 
        var sc_security="91a51706"; 
        var scJsHost = (("https:" == document.location.protocol) ?
        "https://secure." : "http://www.");
        document.write("<sc"+"ript type='text/javascript' src='" +
        scJsHost+
        "statcounter.com/counter/counter.js'></"+"script>");
        </script>
        <noscript><div class="statcounter"><a title="free hit
        counter" href="http://statcounter.com/free-hit-counter/"
        target="_blank"><img class="statcounter"
        src="http://c.statcounter.com/9494764/0/91a51706/1/"
        alt="free hit counter"></a></div></noscript>

