{% comment %}

	Template for api doc pages.  The yuidoc theme has been overridden so that it just 
    puts out markdown formatted fragments, with some front matter.  This template wraps
    the yuidoc with the page layout and tracking tags.

{% endcomment %}
<!doctype html>
<html lang="en">
<head>
    {% include meta.html %}
    <title>{{ page.title }}</title>

    {% include css.html %}
    <link rel="stylesheet" href="{{page.base}}/css/jsplumb-doc.css">

    <!-- yuidoc -->
    <link rel="stylesheet" href="{{ page.yuiGridsUrl }}">
    <link rel="stylesheet" href="{{ page.projectAssets }}/vendor/prettify/prettify-min.css">

    <link rel="stylesheet" href="{{page.base}}/css/external/cssgrids-min.css">
    <link rel="stylesheet" href="{{page.base}}/css/external/prettify-min.css">

    <link rel="shortcut icon" type="image/png" href="{{page.base}}/img/favicon.png">
    <script src="https://yui-s.yahooapis.com/combo?3.9.1/build/yui/yui-min.js"></script>
    <style>
        #doc {
            text-align:left;
            margin-top:44px;
        }
    </style>
</head>
<body class="yui3-skin-sam">

    {% include header.html %}

    <div class="container">
        <div class="row">
            {{ content }}
        </div>
    </div>
    
    {% include track.html %}
    
<script src="{{ page.projectAssets }}/vendor/prettify/prettify-min.js"></script>
<script>prettyPrint();</script>
<script src="{{ page.projectAssets }}/js/yui-prettify.js"></script>
<script src="{{ page.projectAssets }}/../api.js"></script>
<script src="{{ page.projectAssets }}/js/api-filter.js"></script>
<script src="{{ page.projectAssets }}/js/api-list.js"></script>
<script src="{{ page.projectAssets }}/js/api-search.js"></script>
<script src="{{ page.projectAssets }}/js/apidocs.js"></script>
</body>
</html>
