<!DOCTYPE html>
<html>
    <head>
        {% include meta.html %}
        <link rel="shortcut icon" type="image/png" href="{{page.base}}/img/favicon.png">
        <title>{{ page.title }}</title>
        
        {% include css.html %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    </head>
    <body>
        {% include header.html %}
        <div class="site">
            {{ content }}
            <div class="footer">
            </div>
        </div>        
        {% include track.html %}
    </body>
</html>
