<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" type="image/png" href="{{page.base}}/img/favicon.png">
        <title>jsPlumb {{ site.jsplumb }} demo - {{ page.demo }} ({{ page.libraryName }})</title>
		{% include css.html %}
		<link rel="stylesheet" href="demo.css">
    </head>
    
    <body data-demo-id="{{page.demo}}" data-library="{{page.library}}">
        {% include header.html %}
        {% include pleasebemyfriend.html %}

        <div id="main">
            {{content}}
        </div>
		
		{% assign libimport='' %}
		{% capture libimport %}{{page.library}}.jsplumb.html{% endcapture %}
		{% include {{libimport}} %}
		
		<script src="demo.js"></script>
		<script src="{{page.base}}/js/demo-list.js"></script>
		
		{% include track-jsplumb.html %}
        
     </body>
</html>