<!DOCTYPE html>
<html>
    <head>
        {% include meta.html %}
		<link rel="shortcut icon" type="image/png" href="{{page.base}}/img/favicon.png">
        <title>jsPlumb {{ site.jsplumb }} demo - {{ page.demo }}</title>
		{% include css.html %}
        {% include demo.css.html %}
		<link rel="stylesheet" href="demo.css">
    </head>
    
    <body data-demo-id="{{page.demo}}">
        {% include header.html %}

        <div class="jtk-demo-main">
            {{content}}
        </div>
		
		{% include dom.jsplumb.html %}
		
		<script src="demo.js"></script>
		<script src="{{page.base}}/js/demo-list.js"></script>
		
		{% include track.html %}
        
     </body>
</html>