<!DOCTYPE html>
<html>
    <head>
        {% include meta.html %}
        <link rel="shortcut icon" type="image/png" href="{{page.base}}/img/favicon.png">
        <title>{{ page.title }}</title>

        {% include css.html %}
        <link rel="stylesheet" href="{{page.base}}/css/jsplumb-doc.css">

    </head>
    <body>
        {% include header.html %}

        <div class="container padding-top">
            <div class="row" id="docs">
                <div class="docs-nav col-xs-3" tabindex="0">
                    {% include contents.html %}
                </div>
                <div class="markdown-body col-xs-9">
                    {{ content }}
                </div>
            </div>
        </div>

        {% include track.html %}

    </body>
</html>
