body { background-color:white; }
            ._jsPlumb_connection { z-index:3; }
            .jspLoad {
                z-index:4;
                position:absolute;
                width:70px;
                height:70px;
                cursor:pointer;
            }

            #header {
            	height:11em;
            	border:2px solid #824563;
            }
            #setup {
            	float:left;
            }
            #demo {
            	margin-top:10em;
            	position:relative;
            }
            #setup, #output {
            	font-size:12px;
            }

