<div class="apidocs">
    <div id="docs-main" class="content apidoc-intro">
        <h3>jsPlumb API documentation</h3>
        jsPlumb is organised into several classes and namespaces.
        <p>The main classes you will deal with are `jsPlumbInstance`, `Endpoint`, `Connection`, `Anchor` and `Overlay`, but only rarely will you deal 
        with these directly.  All objects are constructed by jsPlumb from "definitions" that you provide, and most of the operations you 
        wish to perform on jsPlumb objects are mediated through an instance of the `jsPlumbInstance` class.
        </p>
        <h4>Static jsPlumb instance</h4>
        <p>An important point to keep in mind is that the global `jsPlumb` object is just an instance of the 
        <a href="classes/jsPlumbInstance.html">jsPlumbInstance</a> class that is registered by default on the browser window.</p>  
        <p>For many people this single static instance is sufficient, but others need more than one instance.</p>
        <p>Either way, remember as you read through the API documentation that a reference to a method on the `jsPlumbInstance` 
        class means that `jsPlumb` has that method.</p>  

        <h5>Keyboard Shortcuts</h5>

        <ul>
            <li><p>Press <kbd>s</kbd> to focus the API search box.</p></li>

            <li><p>Use <kbd>Up</kbd> and <kbd>Down</kbd> to select classes, modules, and search results.</p></li>

            <li class="mac-only"><p>With the API search box or sidebar focused, use <kbd><span class="cmd">&#x2318;</span>-Left</kbd> or <kbd><span class="cmd">&#x2318;</span>-Right</kbd> to switch sidebar tabs.</p></li>

            <li class="pc-only"><p>With the API search box or sidebar focused, use <kbd>Ctrl+Left</kbd> and <kbd>Ctrl+Right</kbd> to switch sidebar tabs.</p></li>
        </ul>
    </div>
</div>


