---
layout: apidoc
title:  "{{htmlTitle}} API documentation"
date:   2014-01-01 00:00:00
yuiGridsUrl: {{yuiGridsUrl}}
yuiSeedUrl: {{yuiSeedUrl}}
projectAssets: {{projectAssets}}
base: {{#baseDir projectAssets}}{{/baseDir}}
---



<div id="doc">
    <div id="bd" class="yui3-g">
        <div class="yui3-u-1-4">
            <div id="docs-sidebar" class="sidebar apidocs">
                {{>sidebar}}
            </div>
        </div>
        <div class="yui3-u-3-4">
            {{>options}}
            <div class="apidocs">
                <div id="docs-main">
                    <div class="content">
                        {{>layout_content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
