.window { 
	border:0.1em dotted #d4e06b; 
	opacity:0.8; 
	filter:alpha(opacity=80); 
	width:14em; height:4em; 
	z-index:20; 
	position:absolute; 
	color:black;
	font-family:helvetica, sans;
	padding-top:0.9em; 
	font-size:0.9em;
	text-align:center;
	background-color:white;
}
#window1 { left:20em;}
#window2 { top:6em; left:21em;left:10em;top:12em;}
#window3 { top:20em;left:40em;top:12em;}
#window4 { top:4em; left:45em;left:4em;top:24em;}
#window5 {top:27em;left:18em;left:22em;top:24em;}
#window6 {top:35em;left:42em;left:47em;top:24em;}
#window7 {top:18em;left:40em;}
#window8 {left:63em;top:32em;}

