#demo {
	margin-top:5em;
}

.w { 
	width:4em;
	padding:1em;
	position:absolute;
	border: 1px solid black;
	z-index:4;
	border-radius:1em;
	border:1px solid #346789;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:0.5em;
	border-radius:0.5em;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
    font-size:11px;
}

.aLabel {
	background-color:white;
	opacity:0.8;
	padding:0.3em;				
}

.ep {
	float:right;
	width:1em;
	height:1em;
	background-color:#994466;
	cursor:pointer;
}

._jsPlumb_endpoint {
	z-index:3;
}

#opened {
	left:10em;
	top:5em;
}

#phone1 {
	left:35em;
	top:12em;
	width:7em;
}
#phone2 {
	left:12em;
	top:23em;
}
#inperson {
	left:28em;
	top:24em;
}
#rejected {
	left:10em;
	top:35em;
}
.dragHover { border:1px dotted red; }

path { cursor:pointer; }