#demo8 .endpointHoverClass {
border:2px solid white;
}

#demo8 .window { border:1px solid #346789;
box-shadow: 2px 2px 19px #e0e0e0;
   -o-box-shadow: 2px 2px 19px #e0e0e0;
   -webkit-box-shadow: 2px 2px 19px #e0e0e0;
   -moz-box-shadow: 2px 2px 19px #e0e0e0;
-moz-border-radius:0.5em;
border-radius:0.5em;
opacity:0.8;
filter:alpha(opacity=80);
width:5em; height:5em;
line-height:5em;
text-align:center;
z-index:20; position:absolute;
background-color:#eeeeef;
color:black;
font-family:helvetica;padding:0.5em;
font-size:0.9em;

}
#demo8 .window:hover {
border:1px solid #123456;
box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
filter:alpha(opacity=90);

}
path { cursor:pointer; }
#w8_1 { top:1em;left:2em;}
#w8_2 { top:4em; left:40em;}
#w8_3 { top:24em;left:2em; }
#w8_4 { top:12em; left:22em;}
#w8_5 {top:26em;left:26em;}
#w8_6 {top:19em;left:51em;}
.hl { border:3px solid red; }
