.window { border:3px solid #346789; 
opacity:0.8; 
filter:alpha(opacity=80); 
width:14em; height:12em; 
z-index:20; position:absolute; 
background-color:white;
color:black;
font-family:helvetica;padding:0.5em; 
font-size:0.8em;}
#window1 {  top:2em;left:2em;}
#window2 { top:14em; left:47em;}
#window3 { top:28em;left:2em; }
#window4 { top:6em; left:26em;}
#window5 {top:40em;left:32em;}
#window6 {top:25em;left:69em;}
#window7 {top:18em;left:40em;}
#window8 {left:63em;top:32em;}
._jsPlumb_connector { z-index:4; }
._jsPlumb_endpoint { z-index:5; }
._jsPlumb_overlay { z-index:6; }
.hl { border:3px solid red; }