#w1_1 { top:1em;left:1em;}
#w1_2 { top:10em; left:10em;}
#w1_3 { top:20em;left:3em; }
#w1_4 { top:6em; left:25em;}
#w1_5 { top:23em;left:24em;}
#w1_6 { top:14em;left:41em;}
#w1_7 { top:2em;left:37em;}