#demo6 .window { 
	border:0.1em dotted #d4e06b; 
	opacity:0.8; 
	filter:alpha(opacity=80); 
	width:7em; height:4em; 
    line-height:4em;
	z-index:20; 
	position:absolute; 
	color:black;
	font-family:helvetica, sans;
	
	font-size:0.9em;
	text-align:center;
	background-color:white;
}
#w6_1 { left:20em; top:4em;}
#w6_2 { left:10em;top:16em;}
#w6_3 { left:40em;top:16em;}
#w6_4 { left:4em;top:28em;}
#w6_5 { left:22em;top:28em;}
#w6_6 { left:47em;top:28em;}