body { 
	background-color:white; font-size:90%;
	background-image:url(../img/dynamicAnchorBg.jpg); 
}
/* docs */
.code { background-color:#e4eeee; border:1px solid black; margin:1em; padding:0.5em; font-family:courier; }
.section { border-bottom: 1px dotted black; padding:1em;font-family:helvetica;background-color:white;color:#333;}
.menu { 
	position:fixed; 
	right:10em; top:1em;
	background-color:white;
	padding:0.3em;
	opacity:0.8;
	filter:alpha(opacity=80);
		box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
}

a {text-decoration:none;color:#05f;font-weight:bold;font-family:helvetica;}
a:hover {text-decoration:underline;}
.window { 
	cursor:pointer;
	box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
}

#explanation { 
	background-color:white;
	color:black;
	border:0.25em solid #ddd; 
	position:absolute;
	right:3.5em;
	top:5em;
	width:22em;
	font-size:100%;
	-moz-border-radius:1em;
	border-radius:1em;
	padding:1em;
	z-index:1000;
	opacity:0.9;
	filter:alpha(opacity=90); 
	font-family:helvetica;
		box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
}


/*  these styles are what jsPlumb attaches to the various elements it creates.
._jsPlumb_connector {
border:1px solid blue;
}
._jsPlumb_endpoint {
border:1px solid green;
}
._jsPlumb_overlay {
border:1px solid yellow;
}
*/
