@CHARSET "UTF-8";
.window { 
	border:2px solid gray; 
	width:15em; 
	height:10em; 
	z-index:20; 
	position:absolute; 
	color:gray;
	font-family:serif;
	font-style:italic;
	padding-top:0.9em; 
	font-size:0.9em;
	text-align:center;
	z-index:40;
	background-color:white;
	-o-box-shadow: 0px 0px 17px #044;
	-webkit-box-shadow: 0px 0px 17px #044; 
	-moz-box-shadow: 0px 0px 17px #044;
	box-shadow: 0px 0px 17px #044;
}
.drag-locked { border:1px solid red; }
._jsPlumb_endpoint { z-index:50; }
._jsPlumb_connector { z-index:1; }
.dropHover { border:1px dotted red; }
.dragActive { border:2px dotted orange; }
html,body{ margin:0px; height:100%; }